# ***PRÁTICA 01:***

# **Instalando PySpark:**

In [8]:
!pip install pyspark py4j ## Código para instalação da versão mais recente.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

# **Instalando findspark**

In [9]:
!pip install -q findspark

# **Iniciando o FindSpark para utilizar o PySpark depois**

In [4]:
import findspark
findspark.init()

# **Importando o pacote Numpy para criação de vetor**

In [10]:
import numpy as np

# **Instanciando uma sessão para utilizar o MapReduce**

In [ ]:
from pyspark import SparkContext
spark_contexto = SparkContext()

# **Entrando com os dados do vetor, conforme o código:**

In [ ]:
vetor = np.array([10, 20, 30, 40, 50])

# **Criando um RDD por meio de um SparkContext, usando o seguinte código:**

In [ ]:
paralelo = spark_contexto.parallelize(vetor)

**verificação do conteúdo da variável paralelo, usando o código:**

In [ ]:
print(paralelo)

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:287

**Como o vetor já está no Spark, podemos aplicar o mapeamento usando o seguinte código:**

# **EXEMPLO 1**

In [ ]:
mapa = paralelo.map(lambda x : x**2+x)

Aqui, lambda x : x**2+x é uma função lambda correspondente à função matemática que queremos aplicar aos elementos da entrada de dados. O código paralelo.map faz o mapeamento da função para cada elemento da entrada.

In [ ]:
## Colete os dados, ou seja, verifique o resultado por meio do código:
mapa.collect()

## Esse código produz a seguinte saída que queríamos:
[110, 420, 930, 1640, 2550]

[110, 420, 930, 1640, 2550]

# **EXEMPLO 2**

In [ ]:
## Acompanhe o exemplo 2 – Listas, que tem como objetivo contar a frequência das palavras de uma lista.
## Entre com uma lista de palavras, conforme o seguinte código:
paralelo = spark_contexto.parallelize(["distribuida", "distribuida", "spark", "rdd", "spark", "spark"])

## Com isso, a variável paralelo faz referência ao RDD.
## Implemente uma função lambda que simplesmente associa o número 1 a uma palavra. O código fica exatamente assim:>
funcao_lambda = lambda x:(x,1)

## Ou seja, a função recebe uma variável x e vai produzir o par (x, 1).
## Aplicando o MapReduce, visualizando o código primeiro e analisando-o em seguida. O código é dado por:
from operator import add
mapa = paralelo.map(funcao_lambda).reduceByKey(add).collect()

## Observe que, na primeira linha, importamos o operador add, que será usado para somar as ocorrências das palavras mapeadas.

## Já na segunda linha, realizamos muitas tarefas, como:

## • O mapeamento dos dados da variável paralelo para a função lambda – ou seja, para cada palavra, criamos um par (palavra, 1).

## • A aplicação da redução por meio da função reduceKey, que soma as ocorrências e as agrupa pela chave – no caso, pelas palavras.

## • A coleta dos dados na etapa final, dada pela função collect, em uma lista que chamamos de mapa.
## Para visualizar o resultado, use o seguinte código:
for (w, c) in mapa:

  print("{}: {}".format(w, c))

## Esse código percorre a lista mapa e imprime cada par formado pela palavra e sua respectiva ocorrência. A saída é a seguinte:

##distribuida: 2

##spark: 3

##rdd: 1

##Para concluir, feche a sessão, usando o código:
spark_contexto.stop()

distribuida: 2
spark: 3
rdd: 1

# **Parar a aplicação:**

In [ ]:
spark_contexto.stop()

# ***PRÁTICA 02:***

# ***Desenvolvendo um exemplo prático de transformação e ação.***

# **Importando e Instanciando o SparkContext:**

In [11]:
from pyspark import SparkContext
spark_contexto = SparkContext()

# **Fornecendo uma lista de entrada e transformando em um RDD:**

In [14]:
lista = [1, 2, 3 ,4, 5, 3]
lista_rdd = spark_contexto.parallelize(lista)

# **Executando uma ação de contar os elementos do RDD:**

In [15]:
lista_rdd.count()

6

# **Criando uma função lambda que recebe um número como parâmetro e retorna um par formado pelo número do parâmetro e pelo mesmo número multiplicado por 10:**

In [16]:
par_ordenado = lambda numero: (numero, numero*10)

# **Aplicando transformação flatMap com a ação collect da função lambda para a lista_rdd que vai produzir a saída [1, 10, 2, 20, 3, 30, 4, 40, 5, 50, 3, 30]:**

In [17]:
lista_rdd.flatMap(par_ordenado).collect()

[1, 10, 2, 20, 3, 30, 4, 40, 5, 50, 3, 30]

# **Aplicando transformação map com a ação collect da função lambda para a lista_rdd. Para isso, use o código a seguir, que vai produzir a saída [(1, 10), (2, 20), (3, 30), (4, 40), (5, 50), (3, 30)]:**

In [18]:
lista_rdd.map(par_ordenado).collect()

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50), (3, 30)]

**Fechando a sessão:**

In [19]:
spark_contexto.stop()